.header {
  padding: 25px 38px 30px 30px;
}

.header__nav_width {
  width: 100%;
}

.header__wpapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__main-page {
  background-color: white;
}

