.form-profile {
  max-width: 410px;
}

.form-profile_type_centered {
  margin: 0 auto 13px auto;
  text-align: center;
  position: relative;
}

.form-profile__heading {
  color: #000000;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0px 0 118px 0;
  text-align: center;
}

.form-profile__field {
  border: none;
  margin: 0 0 13px 0;
  padding: 0;
  position: relative;
}

.form-profile__label {
  position: absolute;
  color: #000;
  font-size: 11px;
  line-height: 13px;
  display: block;
  margin: 0;
  font-weight: 500;
  top: 5px;
  left: 0;
}

.form-profile__input {
  background: none;
  color: #000000;
  font-size: 11px;
  line-height: 13px;
  padding: 0px 0 16px 16px;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  border-bottom: 1px solid #E8E8E8;
  border-radius: 0;
}

.form-profile__input:focus {
  border-bottom: 1px solid #073042;
}

.form-profile__error {
  color: #FF3055;
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  margin-top: 5px;
}

.form-profile__loader {
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgb(7 48 66 / 28%);
  transition: all .5s ease;
}

.form-profile__input_type_error {
  color: #FF3055;
}

.form-profile__success {
  color: #2be080;
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: 70px;
  width: 100%;
  display: block;
}

.form-profile__button {
  text-align: center;
  margin: 190px auto 0 auto;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  background: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity .4s ease;
}

.form-profile__button:hover {
  opacity: .8;
}

.form-profile__button_type_disabled {
  cursor: inherit;
  pointer-events: none;
  opacity: .4;
}

.form-profile__button_type_disabled:hover {
  opacity: .4;
}


@media(max-width: 768px) {
  .form-profile__heading {
    margin: 0px 0 92px 0;
  }

  .form-profile__button {
    margin: 180px auto 0 auto;
  }
}


@media(max-width: 425px) {
  .form-profile__button {
    margin: 180px auto 0 auto;
  }

  .form-profile__heading {
    margin: 0px 0 76px 0;
  }

  .form-profile__button {
    margin: 347px auto 0 auto;
    font-size: 12px;
    line-height: 15px;
  }
}
