.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 112px);
}

.form-register {
  width: 260px;
  gap: 20px;
}

.form__head-auth {
  line-height: 29px;
  font-weight: 500;
  text-align: center;
  margin: 32px 0 60px;
  font-size: 24px;

}

.form__label-auth {
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.form__input-auth {
  margin-top: 10px;
  width: 100%;
  height: 46px;
  border: none;
  padding: 15px;
  background: #f4f4f4;
  border-radius: 8px;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  box-sizing: border-box;
}

.form__input-error {
  display: none;
  color: #ee3465;
  font-size: 10px;
  line-height: 12px;
}

.form__input-error_visible {
  display: none;
  margin-top: 10px;
}

.form__button-auth {
  background-color: #2BE080;
  color: #fff;
  width: 260px;
  height: 45px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  padding: 0;
  margin: 159px 0 0;
  border-radius: 3px;
  flex-shrink: 0;
}

.register__sign-up {
  display: flex;
  margin-top: 14px;
  margin-bottom: 30px;
}

.register__question {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: #a0a0a0;
}

.register__link {
  margin-left: 7px;
  font-size: 12px;
  line-height: 15px;
  color: #2BE080;
}

@media (min-width: 1280px) {
  .register {
    height: calc(100vh - 138px);
  }
}

@media (min-width: 768px) {
  .register {
    height: calc(100vh - 300px);
  }

  .form-register {
    width: 396px;
  }

  .form__head-auth {
    margin: 10px 0 20px;
    text-align: left;
  }

  .form__button-auth {
    font-size: 14px;
    line-height: 17px;

    width: 396px;
    margin: 71px 0 0;
  }

  .register__sign-up {
    margin-top: 17px;
    margin-bottom: 30px;
  }

  .register__question {
    font-size: 14px;
    line-height: 17px;
  }

  .register__link {
    font-size: 14px;
    line-height: 17px;
  }
}


