@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.form {
  display: flex;
  flex-direction: column;
}

.button {
  cursor: pointer;
  border: none;
  transition: opacity linear .3s;
}

.button:hover {
  opacity: 0.8;
}

.link {
  text-decoration: none;
  transition: opacity linear .3s;
}

.link:hover {
  opacity: 0.7;
}
